.tag{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: fit-content;
    padding-inline: 8px;
    padding-block: 5px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: var(--border-radius-sm);

}
